@model  DigitalLibrary.Models.Page
@using DigitalLibrary.Models;
@{
    Database_Helpers db = new Database_Helpers();

    var listofBooks = Database_Helpers.QueryList("select * from Books");

    var listofAbwaabs = Database_Helpers.QueryList("select * from Abwaabs");

}

@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h2>Create Page</h2>


@using (Html.BeginForm("Add", "Pages", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()

            <div class="form-group">
                <label name="" class="col-md-2 control-label">Baab Name</label>
                <div class="col-md-6">
                    <select name="BaabId" class="form-control">
                        @foreach (var item in listofAbwaabs)
                        {
                            <option value="@item["Id"]">@item["Name"]</option>
                        }
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Book Name</label>
                <div class="col-md-6">
                    <select name="BookId" class="form-control">
                        @foreach (var item in listofBooks)
                        {
                            <option value="@item["Id"]">@item["Name"]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Page Tag</label>
                <div class="col-md-6">
                    <input name="PageTag" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Page Number</label>
                <div class="col-md-6">
                    <input name="PageNumberDisplay" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Page Details</label>
                <div class="col-md-6  col-xs-12">
                    <textarea id="TextArea1" name="PageDetails" maxlength="100" rows="10" cols="40" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

<div>

</div>
}