@model DigitalLibrary.Models.Page


@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaabId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaabId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNumberDisplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNumberDisplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
