@model DigitalLibrary.Models.Book

@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<section class="content">
    <h2>Details</h2>

    <div>
        <h4>Book</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AuthorId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AuthorId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublishingYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublishingYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditionNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditionNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookCompleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookCompleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoOfPages)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoOfPages)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoOfAbwaabs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoOfAbwaabs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookCover)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookCover)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>