@model  DigitalLibrary.Models.Book

@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@{
    Database_Helpers db = new Database_Helpers();

    var listofAuthors = Database_Helpers.QueryList("select * from Authors");

    var listofPublishers = Database_Helpers.QueryList("select * from Publishers");

}

<section class="content">
    <h2>Update</h2>


    @using (Html.BeginForm("Edit", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
       
                <h4>Book</h4>
                <hr />
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <label name="" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input name="Name" type="text" value="@Model.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Select Authors</label>
                    <div class="col-md-10 ">
                        <select name="AuthorId" class="form-control">
                            @foreach (var item in listofAuthors)
                            {
                                <option value="@item["Id"]">@item["Name"]</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">Select Publisher</label>
                    <div class="col-md-10">
                        <select name="PublisherId" class="form-control">
                            @foreach (var item in listofPublishers)
                            {
                                <option value="@item["Id"]">@item["Name"]</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Publishing Year</label>
                    <div class="col-md-10">
                        <input name="PublishingYear" type="text" value="@Model.PublishingYear" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Edition Number</label>
                    <div class="col-md-10">
                        <input name="EditionNumber" type="text" value="@Model.EditionNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No. of Pages</label>
                    <div class="col-md-10">
                        <input name="NoOfPages" type="text" value="@Model.NoOfPages" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No. of Abwaabs</label>
                    <div class="col-md-10">
                        <input name="NoOfAbwaabs" type="text" value="@Model.NoOfAbwaabs" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"> Book Cover</label>
                    <div class="col-md-10">
                        <img src="~/Asserts/Book_Images/@Model.BookCover" width="120" height="120" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"> Book Cover</label>
                    <div class="col-md-10">
                        <input type="file" title="search image" name="file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
       
    }

    <div>

    </div>

</section>