@model IEnumerable<DigitalLibrary.Models.Book>

@{
//string CurrentName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"]);
//string CurrentName = Convert.ToString(HttpContext.Current.User.IsInRole("admin"));
//dynamic Layout;
    if(HttpContext.Current.User.IsInRole("admin"))
    {
        var role = Roles.GetRolesForUser();
        if (role.Any(r => r.Contains("admin")))
        {
            Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
        }
        else if (role.Any(r => r.Contains("admin")))
        {
            Layout = "~/Views/Shared/_ManagerDashboardPartial.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

    }
    
    //switch (CurrentName)
    //{
    //    case "Admin":

    //        break;
    //    case "Manager":

    //        break;

    //    default:

    //        break;



    //}
}
<section class="content">
    <h2>Book Index</h2>
    <table class="table">
        <tr>
            <th>
                Book Name
            </th>
            <th>
                Author Name
            </th>
            <th>
                Publisher Name
            </th>
            <th>
                Edition Number
            </th>
            <th>
                Book Completed
            </th>
            <th>
                No of Pages
            </th>
            <th>
                No of Abwaabs
            </th>
            <th>
                Book Cover
            </th>
            <th>
                Publishing Year
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.AuthorId
                </td>
                <td>
                    @item.PublisherId
                </td>
                <td>
                    @item.EditionNumber
                </td>
                <td>
                    @item.BookCompleted
                </td>
                <td>
                    @item.NoOfPages
                </td>
                <td>
                    @item.NoOfAbwaabs
                </td>
                <td>
                    <img src="~/Asserts/Book_Images/@item.BookCover" width="120" height="120" />
                </td>
                <td>
                    @item.PublishingYear
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</section>