@model  DigitalLibrary.Models.Authors


@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h2>Update</h2>


@using (Html.BeginForm("Edit", "Authors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal">
            <h4>Authors </h4>
            <hr />
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label name="" class="col-md-2 form-control">Name</label>
                <div class="col-md-10">
                    <input name="Name" type="text" value="@Model.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 form-control">Desigination</label>
                <div class="col-md-10">
                    <input name="Desigination" type="text" value="@Model.Desigination" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 form-control">Select User Id</label>
                <div class="col-md-10">
                    <input name="UserId" type="text" value="@Model.UserId" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>

</div>