@model  List<Dictionary<string, string>>

@using DigitalLibrary.Models
@{

    Users user = Session["User"] as Users;
    if (user != null)
    {
        if (user.Role == "admin")
        {
            Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
        }
        else if (user.Role == "manager")
        {
            Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
        }
        else if (user.Role == "user")
        {
            Layout = "~/Views/Shared/_UserDashBoardPartial.cshtml";
        }
    }
    else { Layout = "~/Views/Shared/_SimpleUserLayoutPartial.cshtml"; }

}
<section class="content">
    <legend>Words Search</legend>
    <br />

    @using (Html.BeginForm(Html.BeginForm("IndexSearch", "Search", FormMethod.Post)))
            {
        <div class="form-group">
            <h4><label class="col-md-2 control-label">Word Search</label></h4>
            <div class="col-md-5">
                <input type="text" name="SearchText" class="form-control" />
            </div>

            <div class="col-md-3">
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
        </div>
    }
    <br />
    <br />

    @if (IsPost)
            {
        <br />
        <br />
        

        <table class="table table-responsive">
            <tr>
                <th>Book Name</th>
                <th>Baab Name</th>
                <th>Page Name</th>
                <th>Page Number Display</th>
                <th>Pages Details</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <a href="~/Books/Details/@item["BookId"]">@item["BookName"]</a>
                    </td>
                    <td>
                        @item["BaabName"]
                    </td>
                    <td>
                        @item["PageTag"]
                    </td>
                    <td>
                        @item["PageNumberDisplay"]
                    </td>
                    <td>
                        @item["PageDetails"]
                    </td>
                </tr>
            }
            @*<tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>*@


        </table>
    }


</section>