@model IEnumerable<DigitalLibrary.Models.Abwaab>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
}

<section class="content">
<h2>Abwaabs Index</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            Baab Name
        </th>
        <th>Baab No</th>
        <th>No of Pages</th>
        <th>Book Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.BaabNo</td>
            <td>@item.NoOfPages</td>
            <th>@item.BookId</th>
            <td></td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
</section>